body {
  font-family: "LXGW WenKai Screen", sans-serif;
  line-height: 1.5;
  font-size: 17px;
  margin: 0;
  background: url(https://s2.loli.net/2023/12/22/Hypxd4VnPmc9W7M.png);
}

pre,
code {
  font-family: LXGWWenKaiMono monospace;
}

#layout {
  max-width: 100% !important;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-width: 100% !important;
}

#childLinks.grid ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#childLinks.grid ul li {
  width: 180px;
  height: 140px;
  padding: 10px;
}

#childLinks.grid ul li a {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: large;
}

.blogPostTopStyle {
  color: var(--blue);
  margin-right: 5px;
}

#childLinks.grid ul li a:hover {
  background: #eee;
}

#childLinks.list ul {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 5px;
}

#childLinks.list ul li {
  margin-right: 20px;
}

#toggleMenuButton {
  border: none;
  background: #ffffff00;
  right: 10px;
  position: fixed;
  width: 25px;
  font-size: 2rem;
  z-index: 1000;
  opacity: 0;
  color: black;
  cursor: pointer;
}

#parentLink {
  float: right;
  margin-top: 20px;
}

#noteClippedFrom {
  padding: 10px 0 10px 0;
  margin: 20px 0 20px 0;
  color: #666;
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
}

#toggleMenuButton::after {
  position: relative;
  top: -2px;
  left: 1px;
}

#navigationBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: 0.5s ease;
}

#navigationItems {
  position: inherit;
  right: 20px;
  display: flex;
  height: 50px;
  align-items: center;
}
#navigationItems a {
  color: #232627e0;
}
.navigationItemsStyle {
  margin: 0px 10px;
  display: flex;
  align-items: center;
}

#navigationItems a:hover {
  color: var(--blue);
  font-weight: bold;
}

#siteTitle {
  position: absolute;
  left: 28px;
  margin: 0px;
  display: flex;
  align-items: center;
}

#siteTitle a {
  margin-left: 10px;
  font-weight: bold;
}

#siteTitle > img {
  max-width: 100%;
  width: 32px;
}

.hide {
  transform: translateY(-100%);
}

#menu {
  padding: 70px 25px 25px 25px;
  height: calc(100vh);
  background: #ffffff;
  max-width: 250px;
  min-width: 200px;
  min-height: 100vh;
  order: 1;
  border-right: 3px solid #ced5e3;
  position: fixed;
  flex-basis: 0;
  flex-grow: 1;
  overflow: auto;
  font-size: 100%;
  z-index: 2;
}

#childLinks a,
#menu a {
  color: black;
  text-decoration: none;
}

#menu div {
  padding: 8px;
  box-shadow: 2px 4px 8px 0 rgb(141 154 154 / 20%);
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  font-size: large;
  cursor: pointer;
  text-align: center;
}

#menu div:hover {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 47%);
}

.showMenu {
  box-shadow: 7px 3px 16px 0 rgb(56 62 62 / 24%);
  transform: translateX(0) !important;
}

#content li {
  margin-bottom: 8px;
}

#menu p {
  margin: 0px 0px 18px 0px;
  text-align: center;
}

#menu ul {
  padding-left: 20px;
}

#menu > p {
  font-weight: bold;
}

a {
  color: var(--blue);
  text-decoration: none;
}

#content a:hover {
  color: #4961ff;
  background: #97aae863;
  border-radius: 5px;
}

#toc-pane li::marker {
  content: none;
}

@media (max-width: 80em) {
  #layout.showMenu #menu {
    margin-top: 0px !important;
    z-index: 100;
  }
  #childLinks a {
    width: 100% !important;
  }
  #navigationBar {
    height: 80px;
    flex-direction: column;
    justify-content: center;
  }

  #siteTitle {
    position: unset;
  }

  #navigationItems {
    position: unset;
  }

  #navigationItems div {
    margin: 0px 5px;
    font-size: 15px;
  }

  #menu div {
    font-size: smaller !important;
    margin: 10px !important;
  }
  body {
    font-size: 16px !important;
  }
  #main {
    padding: 20px 0px 0px 0px !important;
    margin-left: 30px !important;
    margin-right: 30px !important;
    width: 80% !important;
  }

  #blogItemSummaryImgContain {
    width: 100px !important;
    height: 100px !important;
  }

  #toggleMenuButton {
    opacity: 1;
  }

  .ck-content .image img {
    max-width: 90% !important;
  }

  #layout {
    margin: 0px;
  }

  #bloggerInfoCard {
    display: none !important;
  }

  #menu {
    display: block;
    opacity: 1;
    padding: 100px 0px 0px 0px;
    margin: 0px 0px 0px -7px;
    max-width: 250px;
    width: 50%;
    transform: translateX(-100%);
    transition: transform 200ms ease;
  }

  #toc-pane {
    opacity: 0;
    display: none;
  }
}

#title {
  margin: 0;
  font-size: 120%;
  padding-top: 10px;
  text-align: center !important;
  padding-left: 0px !important;
}

#content img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 30rem;
  width: auto;
}

img {
  width: 100%;
}

.image_resized {
  width: auto !important;
}

figcaption {
  display: flex;
  justify-content: center;
  font-size: smaller;
  color: #707173;
}

hr {
  height: 1px;
  border-top-color: #0000001c;
  border-bottom-color: #ffffff00;
  border-left-color: #ffffff00;
  border-right-color: #ffffff00;
}

code.language-text-plain {
  background-color: #ffffff00;
}

#metadateContent {
  position: relative;
  height: 1rem;
}

.table {
  display: flex;
  justify-content: center;
}

.table table {
  font-size: small;
  border-width: 1px;
  border-color: #d79494d9;
  border-collapse: collapse;
}

.table th {
  border-color: #dddddd;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  background-color: #d6dbddad;
}

.table td {
  border-color: #dddddd;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  background-color: #ffffff;
}

h2,
h3,
h4,
h5 {
  border-bottom: 1px solid #0000001c;
}

h2:before {
  content: "# ";
  color: var(--blue);
}

h3:before {
  content: "## ";
  color: var(--blue);
}

h4:before {
  content: "### ";
  color: var(--blue);
}

h5:before {
  content: "#### ";
  color: var(--blue);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#main {
  width: 100%;
  position: relative;
  top: 50px;
  flex-basis: 0;
  flex-grow: 3;
  margin: 0px 350px 0px 350px;
  animation: slideIn 0.5s ease-in-out;
}

nav#childLinks {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#childLinks a {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 70%;
  margin: 10px;
  background: white;
  border-radius: 10px;
  max-width: 1000px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 18%);
  transition: transform 0.3s ease-in-out;
}
#childLinks a:hover {
  transform: scale(1.04);
}
.blogMetadate {
  margin: 5px 10px 0px 0px;
  font-size: small;
  font-weight: 500;
  text-align: end;
}

#blogItemSummaryImgContain {
  border-radius: 5px;
  padding: 2px;
  border: 1px dashed #d4bdb1;
  margin-left: 5px;
  width: 150px;
  height: 150px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#contentHeader {
  position: relative;
  height: 1rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

#blogItems {
  width: 90%;
  padding: 15px 5px 15px 10px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
}

.ck-content code {
  background-color: #95c8f175;
  border-radius: 7px;
}

.ck-content pre code {
  background-color: #ffffff00;
  white-space: pre-wrap;
}

.ck-content blockquote {
  color: #708faf;
  border-left: 5px solid #708faf;
  background: none repeat scroll 0 0 rgba(102, 128, 153, 0.1);
  padding: 2px 1px 2px 27px;
  margin: 0.2rem 0 0 0;
  border-radius: 5px;
}

.ck-content .text-tiny {
  font-size: small;
}

.ck-content .text-small {
  font-size: smaller;
}

.ck-content .text-big {
  font-size: large;
}

.ck-content .text-huge {
  font-size: larger;
}

.image {
  height: 100%;
  border-radius: 50%;
  margin: 0 auto;
}

pre {
  white-space: pre-wrap;
  word-wrap: anywhere;
}

iframe.pdf-view {
  width: 100%;
  height: 800px;
}

.ck-content pre {
  font-size: 80%;
  background: hsl(0deg 0% 26.67%);
}

:root {
  --shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  --blue: #5986d1;
  --blue-strong: #307bc7;
  --gray: gray;
  --ck-color-table-caption-text: gray;
}

#toc-pane {
  order: 3;
  flex-direction: column;
  position: fixed;
  top: 100px;
  right: 10px;
  background: #5986d14d;
  padding: 20px;
  border-radius: 15px;
  max-width: 200px;
  min-width: 130px;
  opacity: 1;
  top: 100px;
  animation: fromRightToLeftAppearing 1s ease-in-out;
}

@keyframes fromRightToLeftAppearing {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#toc ul {
  padding-left: 11px;
}

#toc-pane li {
  max-width: 200px;
  padding-top: 5px;
}

ul#toc {
  padding: 0px;
  font-size: 90%;
}

#toc a {
  color: black;
  font-weight: 400;
  text-decoration: unset;
}

#toc li :hover {
  color: #db9b18;
}

.toc-anchor {
  margin-left: 10px;
}

.fLinkContainer {
  display: flex;
  flex-wrap: wrap;
}

.fLink {
  width: 140px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 150px;
  min-height: 150px;
}

.fLink img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 5px !important;
  margin-bottom: 10px !important;
}

.fLink > #fLinkTitle {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 5px;
}

.fLink > #fLinkDes {
  font-size: x-small;
  color: #666;
}

#rewardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#rewardBtn {
  padding: 8px 24px;
  font-size: 18px;
  background-color: var(--blue);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#rewardBtn:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: transform 0.5s;
  background: #4484ef;
}

#rewardImgContainer {
  display: none;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 0.5s;
}

.rewardImg {
  width: 200px;
  margin: 10px;
  border: 1px dashed #ccc;
  border-radius: 4px;
  padding: 10px;
}

.wechatPay,
.aliPay {
  text-align: center;
  font-size: 0.8125em;
  color: #999999;
}

#footer {
  text-align: center;
  font-size: medium;
  color: #6c7380;
  margin-top: 30px;
  position: relative;
  bottom: 0px;
  width: 100%;
  padding-top: 10px;
}

#bloggerInfoCard {
  position: fixed;
  order: 3;
  top: 100px;
  right: 40px;
  width: 250px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background: #ffffff00;
}

.bloggerInfoTitleStyle {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 10px;
}

.bloggerInfoContentStyle {
  font-size: smaller;
  color: #777;
  padding: 5px;
}

#bloggerInfoName {
  font-weight: bold;
  margin: 5 auto;
}

#bloggerInfo > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 0.5s;
}
#bloggerInfo > img:hover {
  transform: rotate(360deg);
}

#otherPlatformBar > a > svg {
  width: 20px;
  fill: #00000091 !important;
}

#otherPlatformBar > a :hover {
  fill: #000000 !important;
}

.announcement {
  height: 300px;
  background: #fff3e5;
}

.platformStyle {
  margin: 0px 10px 0px 10px;
}

.bloggerInfoCardStyle {
  text-align: center;
  padding: 10px 13px;
  border-radius: 10px;
  margin: 10px 20px;
  background: white;
  box-shadow: 2px 4px 8px 0 rgb(141 154 154 / 20%);
}

#announcement {
  height: 160px;
  background: #fffdf4;
}
