<%
const isExternalLink = note.hasLabel('shareExternalLink');
const linkHref = isExternalLink ? note.getLabelValue('shareExternalLink') : `./${note.shareId}`;
const target = isExternalLink ? ` target="_blank" rel="noopener noreferrer"` : '';
%>

<% note.getVisibleChildNotes().forEach(function (childNote) { %>
    <a href="<%= childNote.shareId %>">
        <div>
            <%= childNote.title %>
        </div>
    </a>
<% }) %>
